@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@400;600&display=swap');
@import "tailwindcss";


@theme {
  --font-serif: 'Instrument Serif', serif;
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(244 239 230);
  color: rgb(15 23 42);
}

.card {
  width: 44rem;
  height: 26rem;
  background-color: rgb(38 38 38);
  border-radius: 0.5rem;
  border: 1px solid rgb(82 82 82);
  display: flex;
  padding: 2rem;
  position: absolute;
  justify-content: space-between;
}
